  *{
    margin: 0;
    padding: 0;
  }
  #app{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #0e9bfd;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  .el-alert__content{
    text-align: left;
  }
  .el-upload-list{
    display: none;
  }
  #logo{
    width: 150px;
    height: 60px;
  }
  body{
    overflow: scroll;
  }
